menu "Monitoring"

config SCSAT1_MAIN_MON_TIMESYNC_INTERVAL_SEC
	int "Time Sync interval between EPS (sec)"
	default 3600
	help
	  Time Sync interval between EPS (sec).

config SCSAT1_MAIN_MON_SYSTEM_INTERVAL_MSEC
	int "Monitor interval for System Information (msec)"
	default 1000
	help
	  Monitor interval for System Information (sec).

config SCSAT1_MAIN_MON_TEMP_INTERVAL_MSEC
	int "Monitor interval for Temperature (msec)"
	default 5000
	help
	  Monitor interval for Temperature (sec).

config SCSAT1_MAIN_MON_CV_INTERVAL_MSEC
	int "Monitor interval for Current Voltage (msec)"
	default 5000
	help
	  Monitor interval for Current Voltage (sec).

config SCSAT1_MAIN_MON_MGNM_INTERVAL_MSEC
	int "Monitor interval for Magnetometer (msec)"
	default 5000
	help
	  Monitor interval for Magnetometer (sec).

config SCSAT1_MAIN_MON_SUNSENS_INTERVAL_MSEC
	int "Monitor interval for Sun Sensor (msec)"
	default 5000
	help
	  Monitor interval for Sun Sensor (sec).

config SCSAT1_MAIN_MON_ECC_INTERVAL_MSEC
	int "Monitor interval for ECC (msec)"
	default 100
	help
	  Monitor interval for ECC (msec).

config SCSAT1_MAIN_MON_SYSTEM_DELAY_MSEC
	int "Delay time before starting the monitoring (msec)."
	default 500
	help
	  Delay time before starting the initial monitoring (msec).

config SCSAT1_MAIN_MON_TEMP_DELAY_MSEC
	int "Delay time before starting the monitoring (msec)."
	default 1500
	help
	  Delay time before starting the initial monitoring (msec).

config SCSAT1_MAIN_MON_CV_DELAY_MSEC
	int "Delay time before starting the monitoring (msec)."
	default 2500
	help
	  Delay time before starting the initial monitoring (msec).

config SCSAT1_MAIN_MON_MGNM_DELAY_MSEC
	int "Delay time before starting the monitoring (msec)."
	default 3500
	help
	  Delay time before starting the initial monitoring (msec).

config SCSAT1_MAIN_MON_SUNSENS_DELAY_MSEC
	int "Delay time before starting the monitoring (msec)."
	default 4500
	help
	  Delay time before starting the initial monitoring (msec).

config SCSAT1_MAIN_MON_ECC_DELAY_MSEC
	int "Delay time before starting the monitoring (msec)."
	default 50
	help
	  Delay time before starting the initial monitoring (msec).

endmenu
