menu "Thread"

config SCSAT1_MAIN_CSP_ROUTER_THREAD_PRIORITY
	int "CSP router thread priority"
	default 0
	help
	  CSP router thread priority.

config SCSAT1_MAIN_CSP_ROUTER_THREAD_STACK_SIZE
	int "CSP router thread stack size"
	default 1024
	help
	  CSP router thread stack size.

config SCSAT1_MAIN_CSP_SERVER_THREAD_PRIORITY
	int "CSP server thread priority"
	default 0
	help
	  CSP server thread priority.

config SCSAT1_MAIN_CSP_SERVER_THREAD_STACK_SIZE
	int "CSP server thread stack size"
	default 2048
	help
	  CSP server thread stack size.

config SCSAT1_MAIN_SEND_SYSHK_THREAD_PRIORITY
	int "Send System HK thread priority"
	default 1
	help
	  Send System HK thread priority

config SCSAT1_MAIN_SEND_SYSHK_THREAD_STACK_SIZE
	int "Send System HK thread stack size"
	default 1024
	help
	  Send for System HK thread stack size.

config SCSAT1_MAIN_MONITOR_THREAD_PRIORITY
	int "Monitor thread priority"
	default 2
	help
	  Monitor thread priority

config SCSAT1_MAIN_MONITOR_THREAD_STACK_SIZE
	int "Monitor thread stack size"
	default 1024
	help
	  Monitor thread stack size.

endmenu
