#include <freq.h>
#include <mem.h>

/delete-node/ &uartlite0;

/ {
	soc {
		uartlite0: uartlite@4f010000 {
			compatible = "xlnx,xps-uartlite-1.00.a";
			interrupts = <0 0>;
			reg = <0x4f010000 0x10000>;
		};
	};
};
