mainmenu "SC-Sat1 ADCS Board"

menu "Application"

menu "Logging"

module = SCSAT1_ADCS
module-str = SC-Sat1 ADCS Board
source "subsys/logging/Kconfig.template.log_config"

endmenu

rsource "Kconfig.thread"
rsource "Kconfig.syshk"

endmenu

menu "Zephyr"
source "Kconfig.zephyr"
endmenu
