# Copyright (c) 2024 Space Cubics, LLC.
# SPDX-License-Identifier: Apache-2.0

menuconfig SC_FPGASYS
	bool "Space Cubics FPGA System Register driver"
	default y
	depends on DT_HAS_SC_FPGASYS_ENABLED
	help
	  Enable Space Cubics FPGA System Register driver.

if SC_FPGASYS

config SC_FPGASYS_INIT_PRIORITY
	int "Init priority"
	default 50
	help
	   FPGA System Register driver initialization priority.

module = SC_FPGASYS
module-str = Space Cubics FPGA System Register driver
source "subsys/logging/Kconfig.template.log_config"

endif

menuconfig SC_FPGACONF
	bool "Space Cubics FPGA Configuration driver"
	default y
	depends on DT_HAS_SC_FPGACONF_ENABLED
	help
	  Enable Space Cubics FPGA Configuration driver.

if SC_FPGACONF

config SC_FPGACONF_INIT_PRIORITY
	int "Init priority"
	default 50
	help
	   FPGA Configuration driver initialization priority.

config SC_FPGACONF_PRINT_VERSION
	bool "Print SC FPGA Configuration version number"
	default n
	help
	  Print SC FPGA Configuration register version at boot time

config SC_FPGACONF_PRINT_BOOT_STATUS
	bool "Print SC FPGA Configuration boot status"
	default y
	help
	  Print boot status taken from SC FPGA Configuration register
	  in the boot log.

module = SC_FPGACONF
module-str = Space Cubics FPGA Configuration driver
source "subsys/logging/Kconfig.template.log_config"

endif
