# Copyright (c) 2023 Space Cubics, LLC.
# SPDX-License-Identifier: Apache-2.0

rsource "drivers/can/Kconfig"
rsource "drivers/i2c/Kconfig"
rsource "drivers/spi/Kconfig"
rsource "drivers/pwm/Kconfig"
rsource "drivers/misc/Kconfig"
