# Copyright (c) 2024 Space Cubics, LLC.
# SPDX-License-Identifier: Apache-2.0

menuconfig SC_LIB_SUNSENS
	bool "Space Cubics Sun Sensor libraries"
	default y
	depends on DT_HAS_SC_I2C_ENABLED
	depends on BOARD_SCSAT1_MAIN
	help
	  Enable Space Cubics Sun Sensor libraries.

if SC_LIB_SUNSENS

module = SC_LIB_SUNSENS
module-str = Space Cubics Sun Sensor libraries
source "subsys/logging/Kconfig.template.log_config"

endif
