# Space Cubics CAN configuration options

# Copyright (c) 2023 Space Cubics,LLC
# SPDX-License-Identifier: Apache-2.0

config CAN_SCCAN
	bool "Space Cubics CAN Driver"
	default y
	depends on DT_HAS_SC_CAN_ENABLED
	help
	  Enable Space Cubics CAN Driver.
