/*
 * Copyright (c) 2023 Space Cubics, LLC.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <arm/armv7-m.dtsi>
#include <mem.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
	model = "Space Cubics Satellite 1 MAIN Board";

	chosen {
		zephyr,console = &uartlite0;
		zephyr,shell-uart = &uartlite0;
		zephyr,sram = &hrmem;
		zephyr,canbus = &can0;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m3";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <1>;

			mpu: mpu@e000ed90 {
				compatible = "arm,armv7m-mpu";
				reg = <0xe000ed90 0x40>;
			};
		};
	};

	soc {
		hrmem: memory@0 {
			compatible = "sc,hrmem";
			reg = <0x00000000 DT_SIZE_M(4)>;
		};

		uartlite0: uartlite@4f010000 {
			compatible = "xlnx,xps-uartlite-1.00.a";
			interrupts = <0 0>;
			reg = <0x4f010000 0x10000>;
		};

		can0: can@40400000 {
			compatible = "sc,can";
			clock-frequency = <24000000>;
			interrupts = <5 0>;
			reg = <0x40400000 0x10000>;
			bitrate = <1000000>;
			sample-point = <750>;
			tx-fifo-depth = <64>;
			max-filter = <4>;

			can-transceiver {
				max-bitrate = <1000000>;
			};
		};

		can1: can@50100000 {
			compatible = "sc,can";
			clock-frequency = <24000000>;
			interrupts = <19 0>;
			reg = <0x50100000 0x10000>;
			bitrate = <1000000>;
			sample-point = <750>;
			tx-fifo-depth = <64>;
			max-filter = <4>;

			can-transceiver {
				max-bitrate = <1000000>;
			};
		};

		can2: can@50200000 {
			compatible = "sc,can";
			clock-frequency = <24000000>;
			interrupts = <20 0>;
			reg = <0x50200000 0x10000>;
			bitrate = <1000000>;
			sample-point = <750>;
			tx-fifo-depth = <64>;
			max-filter = <4>;

			can-transceiver {
				max-bitrate = <1000000>;
			};
		};

		i2c0: i2c@4f030000 {
			compatible = "sc,i2c";
			interrupts = <7 0>;
			reg = <0x4f030000 0x10000>;
			#address-cells = <1>;
			#size-cells = <0>;
			clock-frequency = <I2C_BITRATE_STANDARD>;
		};

		i2c1: i2c@50010000 {
			compatible = "sc,i2c";
			interrupts = <16 0>;
			reg = <0x50010000 0x10000>;
			#address-cells = <1>;
			#size-cells = <0>;
			clock-frequency = <I2C_BITRATE_STANDARD>;
		};

		spi0: spi@40000000 {
			compatible = "sc,qspi";
			interrupts = <2 0>;
			reg = <0x40000000 0x1000>;
			#address-cells = <1>;
			#size-cells = <0>;
			slave-num = <1>;
			cpol = <0>;
			cpha = <0>;
			spiclk_div = <0>;
			data-capture-mode;

			s25fl256l: s25fl256l@0 {
				compatible = "jedec,spi-nor";
				reg = <0>;
				size = <DT_SIZE_M(256)>;
				spi-max-frequency = <12000000>;
				status = "okay";
				jedec-id = [01 60 19];

				partitions {
					compatible = "fixed-partitions";
					#address-cells = <1>;
					#size-cells = <1>;
					bit_partition: partition@0 {
						reg = <0x00000000 DT_SIZE_M(8)>;
					};
					fsw_partition: partition@800000 {
						reg = <0x00800000 (DT_SIZE_M(24))>;
					};
				};
			};
		};

		spi1: spi@40100000 {
			compatible = "sc,qspi";
			interrupts = <3 0>;
			reg = <0x40100000 0x1000>;
			#address-cells = <1>;
			#size-cells = <0>;
			slave-num = <2>;
			cpol = <0>;
			cpha = <0>;
			spiclk_div = <0>;
		};

		spi2: spi@40200000 {
			compatible = "sc,qspi";
			interrupts = <4 0>;
			reg = <0x40200000 0x1000>;
			#address-cells = <1>;
			#size-cells = <0>;
			slave-num = <2>;
			cpol = <0>;
			cpha = <0>;
			spiclk_div = <0>;
		};

		pwm0: pwm@50020000 {
			compatible = "sc,pwm";
			reg = <0x50020000 0x10000>;
			max-out-channel = <6>;
		};

		pwm1: pwm@50030000 {
			compatible = "sc,pwm";
			reg = <0x50030000 0x10000>;
			max-out-channel = <6>;
		};

		dstrx: dstrx@50300000 {
			compatible = "sc,dstrx3";
			reg = <0x50300000 0x10000>;
			interrupts = <21 0>;
			tx-power = <15>;
			bit-rate = <3>;
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <3>;
};
