# Copyright (c) 2024 Space Cubics, LLC.
# SPDX-License-Identifier: Apache-2.0

menuconfig SC_LIB_CSP
	bool "Space Cubics CSP libraries"
	depends on LIBCSP
	default y
	help
	  Enable Space Cubics CSP libraries.

if SC_LIB_CSP

config SC_LIB_CSP_FILE_NAME_MAX_LEN
	int "File name max length for csp commands"
	default 64
	help
	  File name max length for csp commands

config SC_LIB_CSP_CONN_TIMEOUT_MSEC
	int "Timeout for CSP connect (msec)"
	default 500
	help
	  Timeout for CSP connect (msec).

config SC_LIB_CSP_READ_TIMEOUT_MSEC
	int "Timeout for CSP read (msec)"
	default 100
	help
	  Timeout for CSP read (msec).

config SC_LIB_CSP_FILE_THREAD_PRIORITY
	int "File operation thread priority"
	default 3
	help
	  File operation thread priority

config SC_LIB_CSP_FILE_THREAD_STACK_SIZE
	int "File operation thread stack size"
	default 4096
	help
	  File operation thread stack size.

config SC_LIB_CSP_MAX_FILE_WORK
	int "MAX number of file operation work"
	default 10
	help
	  MAX number of file operation work.

module = SC_LIB_CSP
module-str = Space Cubics CSP libraries
source "subsys/logging/Kconfig.template.log_config"

endif
