mainmenu "SC-Sat1 Main Board"

menu "Application"

config SCOBC_A1_BOOT_CFG_COPY_SIZE_KB
	int "The size (in Kbytes) that the bootloader copies from config memory to HRMEM"
	default 256
	help
	  The size (in bytes) that the bootloader copies from config memory to HRMEM.

endmenu

menu "Zephyr"
source "Kconfig.zephyr"
endmenu
