mainmenu "SC-Sat1 Main Board"

menu "Application"

config SCSAT1_MAIN_AUTO_RUN_HWTEST
	bool "Enable auto run for HW test"
	default n
	help
	  Enable auto run for HW test.

endmenu

menu "Zephyr"
source "Kconfig.zephyr"
endmenu
