mainmenu "SC-Sat1 Main Board"

menu "Application"

config SCSAT1_MAIN_AUTO_RUN_HWTEST
	bool "Enable auto run for HW test"
	default n
	help
	  Enable auto run for HW test.

config SCSAT1_MAIN_CAP_INTERVAL_SEC
	int "Interval (seconds) of capture frame command"
	default 60
	help
	  Interval (seconds) of capture frame command

module = SCSAT1_MAIN
module-str = SC-Sat1 Main Board
source "subsys/logging/Kconfig.template.log_config"

endmenu

menu "Zephyr"
source "Kconfig.zephyr"
endmenu
